advance_expense_workflow.json
{
  "name": "Advance Expense API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "advance-expense-api",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "adv-webhook-0001",
      "name": "Webhook ADV",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1328,
        368
      ],
      "webhookId": "wh-advance-expense"
    },
    {
      "parameters": {
        "jsCode": "// Advance Expense API — แปลง op เป็น SQL\nconst body = ($input.first().json && $input.first().json.body) || $input.first().json || {};\nconst op = body.op || 'list';\n\nfunction esc(v){ if(v===null||v===undefined) return 'NULL'; const s=String(v).trim(); if(s==='') return 'NULL'; return \"'\"+s.replace(/'/g,\"''\")+\"'\"; }\nfunction num(v){ if(v===null||v===undefined||v==='') return '0'; const n=Number(String(v).replace(/[,\\s]/g,'')); return isFinite(n)?String(n):'0'; }\nfunction intOrNull(v){ if(v===null||v===undefined||v==='') return null; const n=parseInt(v,10); return isFinite(n)?n:null; }\nfunction dateLit(v){ const s=v?String(v).slice(0,10):''; return /^\\d{4}-\\d{2}-\\d{2}$/.test(s) ? `'${s}'::date` : 'CURRENT_DATE'; }\n// payment_methods -> jsonb literal (sanitize: เก็บเฉพาะ method/amount/bank_account_id)\nfunction jsonbLit(arr){\n  const clean = Array.isArray(arr) ? arr.map(p => ({\n    method: String(p && p.method || '').trim(),\n    amount: Number(p && p.amount) || 0,\n    bank_account_id: (p && (p.bank_account_id ?? p.from_bank_account_id)) != null && String(p.bank_account_id ?? p.from_bank_account_id) !== '' ? (parseInt(p.bank_account_id ?? p.from_bank_account_id, 10) || null) : null,\n  })).filter(p => p.method) : [];\n  return \"'\" + JSON.stringify(clean).replace(/'/g, \"''\") + \"'::jsonb\";\n}\n\nlet query;\n\nif (op === 'list') {\n  const wh = [];\n  if (body.date_from) wh.push(`doc_date >= ${esc(String(body.date_from).slice(0,10))}`);\n  if (body.date_to)   wh.push(`doc_date <= ${esc(String(body.date_to).slice(0,10))}`);\n  if (body.status)    wh.push(`status = ${esc(body.status)}`);\n  if (body.vendor_id) wh.push(`vendor_id = ${parseInt(body.vendor_id,10)}`);\n  const where = wh.length ? ('WHERE ' + wh.join(' AND ')) : '';\n  query = `SELECT * FROM advance_expenses ${where} ORDER BY doc_date DESC, id DESC;`;\n}\nelse if (op === 'save') {\n  const id = intOrNull(body.id);\n  const vendorId = intOrNull(body.vendor_id);\n  const vendorLit = vendorId === null ? 'NULL' : String(vendorId);\n  const pmLit = jsonbLit(body.payment_methods);\n  if (id) {\n    query = `UPDATE advance_expenses SET\n        doc_date        = ${dateLit(body.doc_date)},\n        vendor_id       = ${vendorLit},\n        payee_name      = ${esc(body.payee_name)},\n        amount          = ${num(body.amount)},\n        payment_methods = ${pmLit},\n        description     = ${esc(body.description)},\n        note            = ${esc(body.note)},\n        updated_at      = NOW()\n      WHERE id = ${id} RETURNING *;`;\n  } else {\n    const d = dateLit(body.doc_date);\n    query = `INSERT INTO advance_expenses (doc_no, doc_date, vendor_id, payee_name, amount, payment_methods, description, note, status, created_by)\n      VALUES (\n        'ADV-' || to_char(${d}, 'YYMMDD') || '-' ||\n          lpad((COALESCE((SELECT COUNT(*) FROM advance_expenses WHERE doc_date = ${d}), 0) + 1)::text, 3, '0'),\n        ${d}, ${vendorLit}, ${esc(body.payee_name)}, ${num(body.amount)}, ${pmLit}, ${esc(body.description)}, ${esc(body.note)},\n        'pending', ${esc(body.created_by)}\n      ) RETURNING *;`;\n  }\n}\nelse if (op === 'clear') {\n  const id = intOrNull(body.id);\n  if (!id) return [{ json: { query: \"SELECT 'missing id' AS message\" } }];\n  query = `UPDATE advance_expenses SET status='cleared', cleared_at=NOW(), cleared_by=${esc(body.cleared_by)}, updated_at=NOW()\n    WHERE id=${id} AND status='pending' RETURNING *;`;\n}\nelse if (op === 'cancel') {\n  const id = intOrNull(body.id);\n  if (!id) return [{ json: { query: \"SELECT 'missing id' AS message\" } }];\n  query = `UPDATE advance_expenses SET status='cancelled', updated_at=NOW()\n    WHERE id=${id} AND status<>'cancelled' RETURNING *;`;\n}\nelse {\n  query = \"SELECT 'unknown op' AS message\";\n}\n\nreturn [{ json: { query } }];"
      },
      "id": "adv-code-0002",
      "name": "Build SQL ADV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        368
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "id": "adv-pg-0003",
      "name": "PG ADV",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        368
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "JLUeyZRAzUeRqlxu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($('PG ADV').all().map(i => i.json)) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "adv-respond-0004",
      "name": "Respond ADV",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2048,
        368
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook ADV": {
      "main": [
        [
          {
            "node": "Build SQL ADV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL ADV": {
      "main": [
        [
          {
            "node": "PG ADV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG ADV": {
      "main": [
        [
          {
            "node": "Respond ADV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}