Giveaway_Rules_API.json
{
  "name": "Giveaway Rules API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "giveaway-rules-api",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-gr",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "giveaway-rules-uuid"
    },
    {
      "parameters": {
        "jsCode": "// Giveaway Rules API — รองรับ 3 ระดับ: brand / series / type\nconst body = ($input.first().json && $input.first().json.body) || $input.first().json || {};\nconst op = String(body.op || 'list').trim();\nconst esc = v => (v==null||v==='')?'NULL':\"'\"+String(v).replace(/'/g,\"''\")+\"'\";\nconst num = v => isFinite(Number(v)) ? Number(v) : 0;\nconst intOrNull = v => (v==null||v==='')?null:(parseInt(v,10)||null);\nconst intLit = v => { const i=intOrNull(v); return i===null?'NULL':String(i); };\nconst d = v => v && /^\\d{4}-\\d{2}-\\d{2}/.test(String(v)) ? `'${String(v).slice(0,10)}'::date` : 'NULL';\nlet query;\n\nif (op === 'list') {\n  const wh = [];\n  if (body.status) wh.push(`g.status = ${esc(body.status)}`);\n  if (body.brand_id) wh.push(`g.brand_id = ${intOrNull(body.brand_id)}`);\n  if (body.series_id) wh.push(`g.series_id = ${intOrNull(body.series_id)}`);\n  if (body.type_id) wh.push(`g.type_id = ${intOrNull(body.type_id)}`);\n  if (body.part_code) wh.push(`UPPER(g.part_code) LIKE UPPER(${esc('%'+body.part_code+'%')})`);\n  const where = wh.length ? ('WHERE ' + wh.join(' AND ')) : '';\n  query = `SELECT g.*, b.brand_name, s.series_name, s.marketing_name, m.model_code, t.type_name,\n    fmp.product_name AS fmp_product_name,\n    CASE WHEN g.type_id IS NOT NULL THEN 'type'\n         WHEN g.series_id IS NOT NULL THEN 'series'\n         ELSE 'brand' END AS level\n    FROM giveaway_rules g\n    LEFT JOIN moto_brands b ON b.brand_id = g.brand_id\n    LEFT JOIN moto_series s ON s.series_id = g.series_id\n    LEFT JOIN moto_types  t ON t.type_id = g.type_id\n    LEFT JOIN moto_models m ON m.model_id = t.model_id\n    LEFT JOIN LATERAL (\n      SELECT MAX(product_name) AS product_name\n        FROM honda_inventory\n       WHERE REPLACE(UPPER(product_code), '-', '') = REPLACE(UPPER(g.part_code), '-', '')\n    ) fmp ON TRUE\n    ${where}\n    ORDER BY g.status, b.brand_name NULLS LAST, level DESC, s.series_name NULLS LAST, t.type_name NULLS LAST, g.id DESC\n    LIMIT 5000;`;\n}\nelse if (op === 'save' || op === 'update') {\n  const id = intOrNull(body.id);\n  const bid = intOrNull(body.brand_id);\n  const sid = intOrNull(body.series_id);\n  const tid = intOrNull(body.type_id);\n  if (!bid) return [{ json: { query: \"SELECT 'missing brand_id' AS message\" } }];\n  if (!String(body.part_code||'').trim()) return [{ json: { query: \"SELECT 'missing part_code' AS message\" } }];\n  // ถ้าเลือก type ต้องมี series ด้วย (จาก type_id)\n  if (id) {\n    query = `UPDATE giveaway_rules SET brand_id=${bid}, series_id=${sid===null?'NULL':sid}, type_id=${tid===null?'NULL':tid}, part_code=${esc(body.part_code)}, part_name=${esc(body.part_name)}, qty=${num(body.qty)}, effective_date=${d(body.effective_date)}, end_date=${d(body.end_date)}, note=${esc(body.note)}, status=${esc(body.status||'active')}, updated_at=NOW() WHERE id=${id} RETURNING *;`;\n  } else {\n    query = `INSERT INTO giveaway_rules (brand_id, series_id, type_id, part_code, part_name, qty, effective_date, end_date, note, status, created_by)\n      VALUES (${bid}, ${sid===null?'NULL':sid}, ${tid===null?'NULL':tid}, ${esc(body.part_code)}, ${esc(body.part_name)}, ${num(body.qty)}, ${d(body.effective_date)}, ${d(body.end_date)}, ${esc(body.note)}, ${esc(body.status||'active')}, ${esc(body.created_by)}) RETURNING *;`;\n  }\n}\nelse if (op === 'delete') {\n  const id = intOrNull(body.id);\n  if (!id) return [{ json: { query: \"SELECT 'missing id' AS message\" } }];\n  query = `DELETE FROM giveaway_rules WHERE id=${id} RETURNING id;`;\n}\nelse if (op === 'list_for_type') {\n  // ใช้จาก RetailSale: ดึงของแถมที่ใช้กับรถ (type_id เฉพาะ + series + brand) — รวมทั้ง 3 ระดับ\n  const tid = intOrNull(body.type_id);\n  if (!tid) return [{ json: { query: \"SELECT 1 WHERE FALSE\" } }];\n  query = `WITH vehicle AS (\n    SELECT t.type_id, m.series_id, s.brand_id\n      FROM moto_types t\n      LEFT JOIN moto_models m ON m.model_id = t.model_id\n      LEFT JOIN moto_series s ON s.series_id = m.series_id\n     WHERE t.type_id = ${tid}\n  )\n  SELECT g.*,\n    fmp.product_name AS fmp_product_name,\n    CASE WHEN g.type_id IS NOT NULL THEN 'type'\n         WHEN g.series_id IS NOT NULL THEN 'series'\n         ELSE 'brand' END AS level\n    FROM giveaway_rules g\n    CROSS JOIN vehicle v\n    LEFT JOIN LATERAL (\n      SELECT MAX(product_name) AS product_name\n        FROM honda_inventory\n       WHERE REPLACE(UPPER(product_code), '-', '') = REPLACE(UPPER(g.part_code), '-', '')\n    ) fmp ON TRUE\n   WHERE g.status='active'\n     AND (g.effective_date IS NULL OR g.effective_date <= CURRENT_DATE)\n     AND (g.end_date IS NULL OR g.end_date >= CURRENT_DATE)\n     AND (\n       (g.type_id = v.type_id)\n       OR (g.type_id IS NULL AND g.series_id = v.series_id)\n       OR (g.type_id IS NULL AND g.series_id IS NULL AND g.brand_id = v.brand_id)\n     )\n   ORDER BY level DESC, g.part_code;`;\n}\nelse { query = \"SELECT 'unknown op' AS message\"; }\nreturn [{ json: { query } }];"
      },
      "id": "code-build",
      "name": "Build SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "pg-exec",
      "name": "PG Exec",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        680,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "JLUeyZRAzUeRqlxu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        920,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL": {
      "main": [
        [
          {
            "node": "PG Exec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Exec": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}