office_api_single.json
{
  "name": "Office Materials API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "office-api",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "webhookId": "office-api-webhook-2024"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "init_db",
              "output": 0
            },
            {
              "value2": "login",
              "output": 1
            },
            {
              "value2": "get_users",
              "output": 2
            },
            {
              "value2": "save_user",
              "output": 3
            },
            {
              "value2": "update_user",
              "output": 4
            },
            {
              "value2": "delete_user",
              "output": 5
            },
            {
              "value2": "load_materials",
              "output": 6
            },
            {
              "value2": "save_receive",
              "output": 7
            },
            {
              "value2": "get_receive_history",
              "output": 8
            },
            {
              "value2": "get_receive_detail",
              "output": 9
            },
            {
              "value2": "save_issue",
              "output": 10
            },
            {
              "value2": "search_issues",
              "output": 11
            },
            {
              "value2": "open_issue",
              "output": 12
            },
            {
              "value2": "update_issue",
              "output": 13
            },
            {
              "value2": "ocr_invoice",
              "output": 14
            },
            {
              "value2": "get_convert_data",
              "output": 15
            },
            {
              "value2": "save_conversion",
              "output": 16
            },
            {
              "value2": "get_conversion_history",
              "output": 17
            }
          ]
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS users (user_id SERIAL PRIMARY KEY, name VARCHAR(255) NOT NULL, username VARCHAR(100) UNIQUE NOT NULL, password VARCHAR(255) NOT NULL, role VARCHAR(20) DEFAULT 'user', branch VARCHAR(100), status VARCHAR(20) DEFAULT 'active', created_at TIMESTAMP DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS products (product_id VARCHAR(50) PRIMARY KEY, product_name VARCHAR(255) NOT NULL, unit VARCHAR(50), is_active BOOLEAN DEFAULT true, created_at TIMESTAMP DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS stock (product_id VARCHAR(50) PRIMARY KEY REFERENCES products(product_id), qty_on_hand NUMERIC(10,2) DEFAULT 0, updated_at TIMESTAMP DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS receive_header (receive_id SERIAL PRIMARY KEY, receive_no VARCHAR(50) UNIQUE, receive_date DATE, vendor_name VARCHAR(255), buyer_name VARCHAR(255), ref_no VARCHAR(100), note TEXT, total_amount NUMERIC(12,2) DEFAULT 0, created_by VARCHAR(100), created_at TIMESTAMP DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS receive_items (receive_item_id SERIAL PRIMARY KEY, receive_id INTEGER REFERENCES receive_header(receive_id), receive_no VARCHAR(50), line_no INTEGER, product_id VARCHAR(50), product_name VARCHAR(255), unit VARCHAR(50), qty NUMERIC(10,2) DEFAULT 0, unit_price NUMERIC(12,2) DEFAULT 0, amount NUMERIC(12,2) DEFAULT 0, created_at TIMESTAMP DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS issue_header (issue_no VARCHAR(50) PRIMARY KEY, issue_date DATE NOT NULL, requester_name VARCHAR(255), issue_branch VARCHAR(100), total_qty NUMERIC(10,2) DEFAULT 0, note TEXT, created_by VARCHAR(100), updated_by VARCHAR(100), created_at TIMESTAMP DEFAULT NOW(), updated_at TIMESTAMP);\nCREATE TABLE IF NOT EXISTS issue_items (issue_item_id SERIAL PRIMARY KEY, issue_no VARCHAR(50) REFERENCES issue_header(issue_no) ON DELETE CASCADE, line_no INTEGER, product_id VARCHAR(50), product_name VARCHAR(255), unit VARCHAR(50), qty_issue NUMERIC(10,2) DEFAULT 0, qty_on_hand NUMERIC(10,2), created_at TIMESTAMP DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS unit_conversions (conversion_id SERIAL PRIMARY KEY, conversion_no VARCHAR(50) UNIQUE, conversion_date DATE NOT NULL, source_product_id VARCHAR(50), source_product_name VARCHAR(255), source_unit VARCHAR(50), source_qty NUMERIC(10,2), source_cost_per_unit NUMERIC(12,4), target_product_id VARCHAR(50), target_product_name VARCHAR(255), target_unit VARCHAR(50), target_qty NUMERIC(10,2), target_cost_per_unit NUMERIC(12,4), note TEXT, created_by VARCHAR(100), created_at TIMESTAMP DEFAULT NOW());",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Init DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        -300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"สร้างตารางฐานข้อมูลสำเร็จ\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Respond Init",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        -300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, name, username, role, branch, status FROM users WHERE username = '{{ $json.body.username }}' AND password = '{{ $json.body.password }}' AND status = 'active' LIMIT 1",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Postgres Login",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nif (!rows || rows.length === 0) {\n  return [{ json: { success: false, message: 'ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง' } }];\n}\nconst user = rows[0];\nreturn [{ json: { success: true, user_id: user.user_id, name: user.name, username: user.username, role: user.role, branch: user.branch } }];"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Code Login Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Respond Login",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, name, username, role, branch, status, created_at FROM users ORDER BY name",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Postgres Get Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { success: true, data: rows } }];"
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Code Users List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Respond Get Users",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (name, username, password, role, branch, status) VALUES ('{{ $json.body.name }}', '{{ $json.body.username }}', '{{ $json.body.password }}', '{{ $json.body.role || \"user\" }}', '{{ $json.body.branch }}', '{{ $json.body.status || \"active\" }}') ON CONFLICT (username) DO NOTHING RETURNING user_id, name, username, role, branch, status",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Postgres Save User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nif (!rows || rows.length === 0) {\n  return [{ json: { success: false, message: 'username ซ้ำในระบบ' } }];\n}\nreturn [{ json: { success: true, message: 'เพิ่มผู้ใช้สำเร็จ', data: rows[0] } }];"
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Code Save User Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Respond Save User",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET name='{{ $json.body.name }}', role='{{ $json.body.role }}', branch='{{ $json.body.branch }}', status='{{ $json.body.status }}'{{ $json.body.password ? ', password=\\'' + $json.body.password + '\\'' : '' }} WHERE user_id={{ $json.body.user_id }} RETURNING user_id, name, username, role, branch, status",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "Postgres Update User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"แก้ไขผู้ใช้สำเร็จ\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0015-0015-0015-000000000015",
      "name": "Respond Update User",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM users WHERE user_id={{ $json.body.user_id }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0016-0016-0016-000000000016",
      "name": "Postgres Delete User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"ลบผู้ใช้สำเร็จ\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0017-0017-0017-000000000017",
      "name": "Respond Delete User",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.product_id, p.product_name, p.unit, COALESCE(s.qty_on_hand, 0) AS qty_on_hand FROM products p LEFT JOIN stock s ON p.product_id = s.product_id WHERE p.is_active = true ORDER BY p.product_name",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0018-0018-0018-000000000018",
      "name": "Postgres Load Materials",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { success: true, data: rows } }];"
      },
      "id": "a1b2c3d4-0019-0019-0019-000000000019",
      "name": "Code Materials List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0020-0020-0020-000000000020",
      "name": "Respond Load Materials",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst receiveNo = body.receive_no || ('RCV-' + Date.now());\nconst receiveDate = body.receive_date || new Date().toISOString().split('T')[0];\nconst items = body.items || [];\n\nlet insertItemsSql = '';\nif (items.length > 0) {\n  const values = items.map((item, i) =>\n    `(${body.receive_id || 0}, '${receiveNo}', ${i + 1}, '${(item.product_id || '').replace(/'/g, \"''\")}', '${(item.product_name || '').replace(/'/g, \"''\")}', '${(item.unit || '').replace(/'/g, \"''\")}', ${parseFloat(item.qty) || 0}, ${parseFloat(item.unit_price) || 0}, ${parseFloat(item.amount) || 0})`\n  ).join(',');\n  insertItemsSql = `INSERT INTO receive_items (receive_id, receive_no, line_no, product_id, product_name, unit, qty, unit_price, amount) VALUES ${values};`;\n}\n\nconst updateStockSql = items.map(item =>\n  `INSERT INTO stock (product_id, qty_on_hand) VALUES ('${(item.product_id || '').replace(/'/g, \"''\")}', ${parseFloat(item.qty) || 0}) ON CONFLICT (product_id) DO UPDATE SET qty_on_hand = stock.qty_on_hand + ${parseFloat(item.qty) || 0}, updated_at = NOW();`\n).join('\\n');\n\nconst sql = `INSERT INTO receive_header (receive_no, receive_date, vendor_name, buyer_name, ref_no, note, total_amount, created_by)\nVALUES ('${receiveNo}', '${receiveDate}', '${(body.vendor_name || '').replace(/'/g, \"''\")}', '${(body.buyer_name || '').replace(/'/g, \"''\")}', '${(body.ref_no || '').replace(/'/g, \"''\")}', '${(body.note || '').replace(/'/g, \"''\")}', ${parseFloat(body.total_amount) || 0}, '${(body.created_by || '').replace(/'/g, \"''\")}') RETURNING receive_id, receive_no;\n${insertItemsSql}\n${updateStockSql}`;\n\nreturn [{ json: { sql, receive_no: receiveNo } }];"
      },
      "id": "a1b2c3d4-0021-0021-0021-000000000021",
      "name": "Code Prepare Save Receive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0022-0022-0022-000000000022",
      "name": "Postgres Save Receive",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"บันทึกรายการรับวัสดุสำเร็จ\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0023-0023-0023-000000000023",
      "name": "Respond Save Receive",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT receive_id, receive_no, receive_date, vendor_name, buyer_name, total_amount, created_by, created_at FROM receive_header ORDER BY receive_date DESC, receive_id DESC LIMIT 200",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0024-0024-0024-000000000024",
      "name": "Postgres Get Receive History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { success: true, data: rows } }];"
      },
      "id": "a1b2c3d4-0025-0025-0025-000000000025",
      "name": "Code Receive History List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0026-0026-0026-000000000026",
      "name": "Respond Get Receive History",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT h.receive_id, h.receive_no, h.receive_date, h.vendor_name, h.buyer_name, h.ref_no, h.note, h.total_amount, h.created_by, i.receive_item_id, i.line_no, i.product_id, i.product_name, i.unit, i.qty, i.unit_price, i.amount FROM receive_header h LEFT JOIN receive_items i ON h.receive_no = i.receive_no WHERE h.receive_no = '{{ $json.body.receive_no }}' ORDER BY i.line_no",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0027-0027-0027-000000000027",
      "name": "Postgres Get Receive Detail",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nif (!rows || rows.length === 0) return [{ json: { success: false, message: 'ไม่พบข้อมูล' } }];\nconst header = { receive_id: rows[0].receive_id, receive_no: rows[0].receive_no, receive_date: rows[0].receive_date, vendor_name: rows[0].vendor_name, buyer_name: rows[0].buyer_name, ref_no: rows[0].ref_no, note: rows[0].note, total_amount: rows[0].total_amount, created_by: rows[0].created_by };\nconst items = rows.filter(r => r.receive_item_id).map(r => ({ receive_item_id: r.receive_item_id, line_no: r.line_no, product_id: r.product_id, product_name: r.product_name, unit: r.unit, qty: r.qty, unit_price: r.unit_price, amount: r.amount }));\nreturn [{ json: { success: true, header, items } }];"
      },
      "id": "a1b2c3d4-0028-0028-0028-000000000028",
      "name": "Code Merge Receive Detail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0029-0029-0029-000000000029",
      "name": "Respond Get Receive Detail",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst issueNo = 'ISS-' + Date.now();\nconst issueDate = new Date().toISOString().split('T')[0];\nconst items = body.items || [];\nconst totalQty = items.reduce((s, i) => s + (parseFloat(i.qty_issue) || 0), 0);\n\nlet insertItemsSql = '';\nif (items.length > 0) {\n  const values = items.map((item, i) =>\n    `('${issueNo}', ${i + 1}, '${(item.product_id || '').replace(/'/g, \"''\")}', '${(item.product_name || '').replace(/'/g, \"''\")}', '${(item.unit || '').replace(/'/g, \"''\")}', ${parseFloat(item.qty_issue) || 0}, ${item.qty_on_hand !== null && item.qty_on_hand !== undefined ? parseFloat(item.qty_on_hand) : 'NULL'})`\n  ).join(',');\n  insertItemsSql = `INSERT INTO issue_items (issue_no, line_no, product_id, product_name, unit, qty_issue, qty_on_hand) VALUES ${values};`;\n}\n\nconst updateStockSql = items.map(item =>\n  `UPDATE stock SET qty_on_hand = qty_on_hand - ${parseFloat(item.qty_issue) || 0}, updated_at = NOW() WHERE product_id = '${(item.product_id || '').replace(/'/g, \"''\")}';`\n).join('\\n');\n\nconst sql = `INSERT INTO issue_header (issue_no, issue_date, requester_name, issue_branch, total_qty, note, created_by)\nVALUES ('${issueNo}', '${issueDate}', '${(body.username || '').replace(/'/g, \"''\")}', '${(body.branch || '').replace(/'/g, \"''\")}', ${totalQty}, '${(body.note || '').replace(/'/g, \"''\")}', '${(body.username || '').replace(/'/g, \"''\")}');\n${insertItemsSql}\n${updateStockSql}`;\n\nreturn [{ json: { sql, issue_no: issueNo } }];"
      },
      "id": "a1b2c3d4-0030-0030-0030-000000000030",
      "name": "Code Prepare Save Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0031-0031-0031-000000000031",
      "name": "Postgres Save Issue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        960,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"บันทึกรายการเบิกวัสดุสำเร็จ\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0032-0032-0032-000000000032",
      "name": "Respond Save Issue",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT issue_no, issue_date, requester_name, issue_branch, total_qty, created_at FROM issue_header ORDER BY issue_date DESC, issue_no DESC LIMIT 200",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0033-0033-0033-000000000033",
      "name": "Postgres Search Issues",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { success: true, data: rows } }];"
      },
      "id": "a1b2c3d4-0034-0034-0034-000000000034",
      "name": "Code Issues List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0035-0035-0035-000000000035",
      "name": "Respond Search Issues",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT h.issue_no, h.issue_date, h.requester_name, h.issue_branch, h.total_qty, h.note, i.issue_item_id, i.line_no, i.product_id, i.product_name, i.unit, i.qty_issue, i.qty_on_hand FROM issue_header h LEFT JOIN issue_items i ON h.issue_no = i.issue_no WHERE h.issue_no = '{{ $json.body.issue_no }}' ORDER BY i.line_no",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0036-0036-0036-000000000036",
      "name": "Postgres Open Issue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        900
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nif (!rows || rows.length === 0) return [{ json: { success: false, message: 'ไม่พบข้อมูล' } }];\nconst header = { issue_no: rows[0].issue_no, issue_date: rows[0].issue_date, requester_name: rows[0].requester_name, issue_branch: rows[0].issue_branch, total_qty: rows[0].total_qty, note: rows[0].note };\nconst items = rows.filter(r => r.issue_item_id).map(r => ({ issue_item_id: r.issue_item_id, line_no: r.line_no, product_id: r.product_id, product_name: r.product_name, unit: r.unit, qty_issue: r.qty_issue, qty_on_hand: r.qty_on_hand }));\nreturn [{ json: { success: true, header, items } }];"
      },
      "id": "a1b2c3d4-0037-0037-0037-000000000037",
      "name": "Code Merge Issue Detail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        900
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0038-0038-0038-000000000038",
      "name": "Respond Open Issue",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        900
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst issueNo = body.issue_no;\nconst items = body.items || [];\nconst totalQty = items.reduce((s, i) => s + (parseFloat(i.qty_issue) || 0), 0);\n\nlet insertItemsSql = '';\nif (items.length > 0) {\n  const values = items.map((item, i) =>\n    `('${issueNo}', ${i + 1}, '${(item.product_id || '').replace(/'/g, \"''\")}', '${(item.product_name || '').replace(/'/g, \"''\")}', '${(item.unit || '').replace(/'/g, \"''\")}', ${parseFloat(item.qty_issue) || 0}, ${item.qty_on_hand !== null && item.qty_on_hand !== undefined ? parseFloat(item.qty_on_hand) : 'NULL'})`\n  ).join(',');\n  insertItemsSql = `INSERT INTO issue_items (issue_no, line_no, product_id, product_name, unit, qty_issue, qty_on_hand) VALUES ${values};`;\n}\n\nconst sql = `UPDATE issue_header SET total_qty=${totalQty}, note='${(body.note || '').replace(/'/g, \"''\")}', updated_by='${(body.updated_by || '').replace(/'/g, \"''\")}', updated_at=NOW() WHERE issue_no='${issueNo}';\nDELETE FROM issue_items WHERE issue_no='${issueNo}';\n${insertItemsSql}`;\n\nreturn [{ json: { sql } }];"
      },
      "id": "a1b2c3d4-0039-0039-0039-000000000039",
      "name": "Code Prepare Update Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0040-0040-0040-000000000040",
      "name": "Postgres Update Issue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        960,
        1000
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"บันทึกการแก้ไขใบเบิกสำเร็จ\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0041-0041-0041-000000000041",
      "name": "Respond Update Issue",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst base64 = body.image_base64 || '';\nconst filename = body.filename || 'invoice.jpg';\nconst mimeType = filename.toLowerCase().endsWith('.pdf') ? 'application/pdf' : 'image/jpeg';\nreturn [{ json: { filename, mimeType }, binary: { data: { data: base64, mimeType: mimeType, fileName: filename } } }];"
      },
      "id": "a1b2c3d4-0042-0042-0042-000000000042",
      "name": "Code Prepare OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "mistralCloudApi": {
          "id": "o6VWlsFkBOxJYLAZ",
          "name": "Mistral Cloud account"
        }
      },
      "id": "a1b2c3d4-0043-0043-0043-000000000043",
      "name": "HTTP Upload Mistral",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1100
      ]
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "mistralCloudApi": {
          "id": "o6VWlsFkBOxJYLAZ",
          "name": "Mistral Cloud account"
        }
      },
      "id": "a1b2c3d4-0045-0045-0045-000000000045",
      "name": "HTTP Get Mistral URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"mistral-ocr-latest\", \"document\": {\"type\": \"image_url\", \"image_url\": \"{{ $json.url }}\"}, \"include_image_base64\": false}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "mistralCloudApi": {
          "id": "o6VWlsFkBOxJYLAZ",
          "name": "Mistral Cloud account"
        }
      },
      "id": "a1b2c3d4-0046-0046-0046-000000000046",
      "name": "HTTP Mistral OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "const ocr = $input.first().json;\nconst markdown = (ocr.pages && ocr.pages[0] && ocr.pages[0].markdown) ? ocr.pages[0].markdown : 'ไม่พบข้อความ';\nconst systemPrompt = \"คุณคือผู้ช่วยแปลง OCR จากใบส่งสินค้าภาษาไทยให้เป็น JSON\\nกติกา: ตอบ JSON เท่านั้น ห้าม markdown ห้ามคำอธิบาย ถ้าไม่พบใช้ null วันที่รูปแบบ YYYY-MM-DD ตัวเลขเป็น number\\nโครงสร้าง JSON: {\\\"seller\\\":{\\\"name_th\\\":null,\\\"name_en\\\":null,\\\"tax_id\\\":null,\\\"address_th\\\":null,\\\"tel\\\":null},\\\"buyer\\\":{\\\"name\\\":null,\\\"tax_id\\\":null,\\\"branch\\\":null,\\\"address\\\":null},\\\"ship_to\\\":{\\\"customer_code\\\":null,\\\"name\\\":null,\\\"address\\\":null},\\\"document\\\":{\\\"doc_no\\\":null,\\\"date\\\":null,\\\"payment_type\\\":null,\\\"credit_term\\\":null,\\\"due_date\\\":null,\\\"so_no\\\":null},\\\"items\\\":[{\\\"item_no\\\":1,\\\"code\\\":null,\\\"description_raw\\\":null,\\\"description_clean\\\":null,\\\"quantity\\\":null,\\\"unit\\\":null,\\\"unit_price\\\":null,\\\"net_amount\\\":null,\\\"quantity_inferred\\\":false}]}\";\nreturn [{ json: { model: 'gpt-4.1-mini', messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: markdown }] } }];"
      },
      "id": "a1b2c3d4-0047-0047-0047-000000000047",
      "name": "Code Prepare OpenAI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "odRg3D1h42QKDeOx",
          "name": "OpenAi account"
        }
      },
      "id": "a1b2c3d4-0048-0048-0048-000000000048",
      "name": "HTTP OpenAI Parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst content = resp.choices && resp.choices[0] && resp.choices[0].message && resp.choices[0].message.content;\nif (!content) return [{ json: { success: false, error: 'No response from OpenAI', items: [] } }];\nlet parsed;\ntry {\n  let clean = content.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  return [{ json: { success: false, error: 'JSON parse failed', raw: content, items: [] } }];\n}\nfunction T(v) { return (v ?? '').toString().trim(); }\nfunction N(v) {\n  if (v == null || v === '') return null;\n  const n = Number(String(v).replace(/,/g,'').trim());\n  return Number.isFinite(n) ? n : null;\n}\nconst items = Array.isArray(parsed.items) ? parsed.items.map((r, i) => ({\n  item_no: N(r.item_no) ?? (i + 1),\n  code: T(r.code) || null,\n  description_raw: T(r.description_raw) || null,\n  description_clean: T(r.description_clean) || null,\n  quantity: N(r.quantity),\n  unit: T(r.unit) || null,\n  unit_price: N(r.unit_price),\n  net_amount: N(r.net_amount),\n  quantity_inferred: !!r.quantity_inferred\n})) : [];\nreturn [{ json: { success: true, seller: parsed.seller || {}, buyer: parsed.buyer || {}, ship_to: parsed.ship_to || {}, document: parsed.document || {}, items } }];"
      },
      "id": "a1b2c3d4-0049-0049-0049-000000000049",
      "name": "Code Normalize OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT product_id, product_name, product_code, unit, product_group, keywords FROM products WHERE is_active = true ORDER BY product_id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-0050-0050-0050-000000000050",
      "name": "Postgres Get Products OCR",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2400,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "const ocr = $('Code Normalize OCR').first().json;\nconst rows = $input.all().map(x => x.json);\nfunction T(v) { return (v ?? '').toString().trim(); }\nfunction N(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'').trim());\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normCode(s) { return T(s).replace(/[\\s\\-_.\\/]/g,'').toUpperCase(); }\nfunction normName(s) {\n  let x = T(s).toLowerCase();\n  x = x.replace(/\\(.*?\\)/g,' ').replace(/\\b\\d+(\\.\\d+)?\\b/g,' ');\n  x = x.replace(/\\u0e19\\u0e34\\u0e49\\u0e27|\\u0e01\\u0e23\\u0e31\\u0e21|\\u0e01\\u0e01\\.?|kg|ml|\\u0e21\\u0e25\\.?|\\u0e25\\u0e34\\u0e15\\u0e23|\\u0e41\\u0e1e\\u0e47\\u0e04|\\u0e01\\u0e25\\u0e48\\u0e2d\\u0e07|\\u0e23\\u0e35\\u0e21|\\u0e2d\\u0e31\\u0e19|\\u0e14\\u0e49\\u0e32\\u0e21|\\u0e16\\u0e38\\u0e07|\\u0e0b\\u0e2d\\u0e07|\\u0e02\\u0e27\\u0e14|\\u0e41\\u0e01\\u0e25\\u0e25\\u0e2d\\u0e19|\\u0e0a\\u0e38\\u0e14|\\u0e41\\u0e1c\\u0e48\\u0e19|\\u0e41\\u0e17\\u0e48\\u0e07|\\u0e04\\u0e39\\u0e48|\\u0e42\\u0e2b\\u0e25/gi,' ');\n  return x.replace(/\\s+/g,' ').trim();\n}\nconst products = rows.map(r => ({\n  product_id: T(r.product_id), product_name: T(r.product_name),\n  product_code: T(r.product_code), product_code_norm: normCode(r.product_code),\n  unit: T(r.unit), product_group: T(r.product_group),\n  norm_name: normName(r.product_name)\n})).filter(p => p.product_id && p.product_name);\nconst byCode = new Map(products.filter(p => p.product_code_norm).map(p => [p.product_code_norm, p]));\nconst byName = new Map(products.filter(p => p.norm_name).map(p => [p.norm_name, p]));\nfunction matchProduct(item) {\n  const codeNorm = normCode(T(item.code));\n  const nameNorm = normName(T(item.description_clean || item.description_raw || ''));\n  const unit = T(item.unit);\n  if (codeNorm && byCode.has(codeNorm)) { const p = byCode.get(codeNorm); return {...p, match_status:'MATCHED', match_score:1.0, matched_by:'product_code', unit: p.unit || unit}; }\n  if (nameNorm && byName.has(nameNorm)) { const p = byName.get(nameNorm); return {...p, match_status:'MATCHED', match_score:0.95, matched_by:'name_exact', unit: p.unit || unit}; }\n  const found = products.find(p => p.norm_name && nameNorm && (nameNorm.includes(p.norm_name) || p.norm_name.includes(nameNorm)));\n  if (found) return {...found, match_status:'MATCHED', match_score:0.85, matched_by:'name_contains', unit: found.unit || unit};\n  return {product_id:'', product_name:'', product_group:'', unit, match_status:'UNMATCHED', match_score:0, matched_by:''};\n}\nconst doc = ocr.document || {};\nconst ocrItems = Array.isArray(ocr.items) ? ocr.items : [];\nconst matchedItems = ocrItems.map((r, idx) => {\n  const m = matchProduct(r);\n  const qty = N(r.quantity);\n  const unitPrice = N(r.unit_price);\n  const amount = (r.net_amount != null && r.net_amount !== '') ? N(r.net_amount) : qty * unitPrice;\n  return {\n    line_no: idx + 1,\n    product_code: T(r.code),\n    product_name_from_ocr: T(r.description_clean || r.description_raw || ''),\n    product_id: m.product_id, product_name: m.product_name, product_group: m.product_group,\n    qty, unit: m.unit || T(r.unit), unit_price: unitPrice, amount,\n    quantity_inferred: !!r.quantity_inferred,\n    match_status: m.match_status, match_score: m.match_score, matched_by: m.matched_by, remark: ''\n  };\n});\nconst seller = ocr.seller || {};\nconst buyer = ocr.buyer || {};\nconst ship_to = ocr.ship_to || {};\nreturn [{ json: {\n  success: true,\n  header: {\n    receive_no: T(doc.doc_no), receive_date: T(doc.date),\n    vendor_name: T(seller.name_th || seller.name_en || ''),\n    vendor_tax_id: T(seller.tax_id || ''),\n    vendor_address: T(seller.address_th || seller.address_en || ''),\n    buyer_name: T(buyer.name || ''), buyer_tax_id: T(buyer.tax_id || ''),\n    buyer_branch: T(buyer.branch || ''), buyer_address: T(buyer.address || ''),\n    ship_to_code: T(ship_to.customer_code || ''), ship_to_name: T(ship_to.name || ''),\n    payment_type: T(doc.payment_type || ''), credit_term: N(doc.credit_term),\n    due_date: T(doc.due_date || ''), so_no: T(doc.so_no || ''),\n    created_by: '', remark: ''\n  },\n  items: matchedItems,\n  products_master: products,\n  summary: {\n    item_count: matchedItems.length,\n    matched_count: matchedItems.filter(r => r.match_status === 'MATCHED').length,\n    unmatched_count: matchedItems.filter(r => r.match_status !== 'MATCHED').length,\n    product_count: products.length\n  }\n}}];"
      },
      "id": "a1b2c3d4-0051-0051-0051-000000000051",
      "name": "Code Match Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        1100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0044-0044-0044-000000000044",
      "name": "Respond OCR",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2880,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.product_id, p.product_name, p.unit, COALESCE(s.qty_on_hand, 0) AS qty_on_hand, COALESCE((SELECT ROUND(SUM(ri.amount)::numeric / NULLIF(SUM(ri.qty)::numeric, 0), 4) FROM receive_items ri WHERE ri.product_id = p.product_id), 0) AS avg_cost_per_unit FROM products p LEFT JOIN stock s ON p.product_id = s.product_id WHERE p.is_active = true ORDER BY p.product_name",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-1500-1500-1500-000000001500",
      "name": "Postgres Get Convert Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { success: true, data: rows } }];"
      },
      "id": "a1b2c3d4-1501-1501-1501-000000001501",
      "name": "Code Convert Data List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        1200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-1502-1502-1502-000000001502",
      "name": "Respond Get Convert Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst convNo = 'CNV-' + Date.now();\nconst convDate = body.conversion_date || new Date().toISOString().split('T')[0];\nconst srcId = (body.source_product_id || '').replace(/'/g, \"''\");\nconst srcName = (body.source_product_name || '').replace(/'/g, \"''\");\nconst srcUnit = (body.source_unit || '').replace(/'/g, \"''\");\nconst srcQty = parseFloat(body.source_qty) || 0;\nconst srcCost = parseFloat(body.source_cost_per_unit) || 0;\nconst tgtId = (body.target_product_id || '').replace(/'/g, \"''\");\nconst tgtName = (body.target_product_name || '').replace(/'/g, \"''\");\nconst tgtUnit = (body.target_unit || '').replace(/'/g, \"''\");\nconst tgtQty = parseFloat(body.target_qty) || 0;\nconst tgtCost = srcQty > 0 && tgtQty > 0 ? Math.round((srcCost * srcQty / tgtQty) * 10000) / 10000 : 0;\nconst note = (body.note || '').replace(/'/g, \"''\");\nconst createdBy = (body.created_by || '').replace(/'/g, \"''\");\n\nconst sql = `INSERT INTO unit_conversions (conversion_no, conversion_date, source_product_id, source_product_name, source_unit, source_qty, source_cost_per_unit, target_product_id, target_product_name, target_unit, target_qty, target_cost_per_unit, note, created_by) VALUES ('${convNo}', '${convDate}', '${srcId}', '${srcName}', '${srcUnit}', ${srcQty}, ${srcCost}, '${tgtId}', '${tgtName}', '${tgtUnit}', ${tgtQty}, ${tgtCost}, '${note}', '${createdBy}');\nUPDATE stock SET qty_on_hand = qty_on_hand - ${srcQty}, updated_at = NOW() WHERE product_id = '${srcId}';\nINSERT INTO stock (product_id, qty_on_hand) VALUES ('${tgtId}', ${tgtQty}) ON CONFLICT (product_id) DO UPDATE SET qty_on_hand = stock.qty_on_hand + ${tgtQty}, updated_at = NOW();`;\n\nreturn [{ json: { sql, conversion_no: convNo } }];"
      },
      "id": "a1b2c3d4-1600-1600-1600-000000001600",
      "name": "Code Prepare Save Conversion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-1601-1601-1601-000000001601",
      "name": "Postgres Save Conversion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        960,
        1300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, conversion_no: $('Code Prepare Save Conversion').first().json.conversion_no }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-1602-1602-1602-000000001602",
      "name": "Respond Save Conversion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        1300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT conversion_id, conversion_no, conversion_date, source_product_name, source_unit, source_qty, source_cost_per_unit, target_product_name, target_unit, target_qty, target_cost_per_unit, note, created_by, created_at FROM unit_conversions ORDER BY conversion_date DESC, conversion_id DESC LIMIT 100",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "a1b2c3d4-1700-1700-1700-000000001700",
      "name": "Postgres Get Conversion History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        1400
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { success: true, data: rows } }];"
      },
      "id": "a1b2c3d4-1701-1701-1701-000000001701",
      "name": "Code Conversion History List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        1400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-1702-1702-1702-000000001702",
      "name": "Respond Get Conversion History",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        1400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Init DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Get Users",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Save User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Update User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Delete User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Load Materials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Prepare Save Receive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Get Receive History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Get Receive Detail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Prepare Save Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Search Issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Open Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Prepare Update Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Prepare OCR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Get Convert Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Prepare Save Conversion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Get Conversion History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init DB": {
      "main": [
        [
          {
            "node": "Respond Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Login": {
      "main": [
        [
          {
            "node": "Code Login Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Login Check": {
      "main": [
        [
          {
            "node": "Respond Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Get Users": {
      "main": [
        [
          {
            "node": "Code Users List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Users List": {
      "main": [
        [
          {
            "node": "Respond Get Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Save User": {
      "main": [
        [
          {
            "node": "Code Save User Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Save User Check": {
      "main": [
        [
          {
            "node": "Respond Save User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Update User": {
      "main": [
        [
          {
            "node": "Respond Update User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Delete User": {
      "main": [
        [
          {
            "node": "Respond Delete User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Load Materials": {
      "main": [
        [
          {
            "node": "Code Materials List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Materials List": {
      "main": [
        [
          {
            "node": "Respond Load Materials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Prepare Save Receive": {
      "main": [
        [
          {
            "node": "Postgres Save Receive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Save Receive": {
      "main": [
        [
          {
            "node": "Respond Save Receive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Get Receive History": {
      "main": [
        [
          {
            "node": "Code Receive History List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Receive History List": {
      "main": [
        [
          {
            "node": "Respond Get Receive History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Get Receive Detail": {
      "main": [
        [
          {
            "node": "Code Merge Receive Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Merge Receive Detail": {
      "main": [
        [
          {
            "node": "Respond Get Receive Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Prepare Save Issue": {
      "main": [
        [
          {
            "node": "Postgres Save Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Save Issue": {
      "main": [
        [
          {
            "node": "Respond Save Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Search Issues": {
      "main": [
        [
          {
            "node": "Code Issues List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Issues List": {
      "main": [
        [
          {
            "node": "Respond Search Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Open Issue": {
      "main": [
        [
          {
            "node": "Code Merge Issue Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Merge Issue Detail": {
      "main": [
        [
          {
            "node": "Respond Open Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Prepare Update Issue": {
      "main": [
        [
          {
            "node": "Postgres Update Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Update Issue": {
      "main": [
        [
          {
            "node": "Respond Update Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Prepare OCR": {
      "main": [
        [
          {
            "node": "HTTP Upload Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Upload Mistral": {
      "main": [
        [
          {
            "node": "HTTP Get Mistral URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Get Mistral URL": {
      "main": [
        [
          {
            "node": "HTTP Mistral OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Mistral OCR": {
      "main": [
        [
          {
            "node": "Code Prepare OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Prepare OpenAI Request": {
      "main": [
        [
          {
            "node": "HTTP OpenAI Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP OpenAI Parse": {
      "main": [
        [
          {
            "node": "Code Normalize OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Normalize OCR": {
      "main": [
        [
          {
            "node": "Postgres Get Products OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Get Products OCR": {
      "main": [
        [
          {
            "node": "Code Match Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Match Products": {
      "main": [
        [
          {
            "node": "Respond OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Get Convert Data": {
      "main": [
        [
          {
            "node": "Code Convert Data List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Convert Data List": {
      "main": [
        [
          {
            "node": "Respond Get Convert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Prepare Save Conversion": {
      "main": [
        [
          {
            "node": "Postgres Save Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Save Conversion": {
      "main": [
        [
          {
            "node": "Respond Save Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Get Conversion History": {
      "main": [
        [
          {
            "node": "Code Conversion History List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Conversion History List": {
      "main": [
        [
          {
            "node": "Respond Get Conversion History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "office-api-v1",
  "id": "office-materials-api-2024",
  "tags": []
}