payment_omise_callback_workflow.json
{
  "name": "payment-omise-callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-omise-callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-omise",
      "name": "Webhook (Omise)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "payment-omise-callback"
    },
    {
      "parameters": {
        "functionCode": "// Omise webhook payload: { key: 'charge.complete'|'charge.create'|..., data: { id, status, paid_at, failure_code, ... } }\nconst body = $json.body || {};\nconst data = body.data || {};\nconst s = String(data.status || '').toLowerCase();\n\n// ไม่ default เป็น pending — เพื่อไม่ override DB เมื่อ event เป็น 'charge.create' ที่ยัง pending\nlet status = '';\nif (s === 'successful' || data.paid === true) status = 'paid';\nelse if (s === 'failed' || data.failure_code) status = 'failed';\nelse if (s === 'expired' || s === 'reversed') status = 'expired';\n// ถ้า status ไม่ใช่ final → ส่ง '' ไป SQL จะ keep ค่าเดิม\n\nreturn [{\n  json: {\n    charge_id: data.id || '',\n    status,\n    paid_at: data.paid_at || (status === 'paid' ? new Date().toISOString() : ''),\n    raw: JSON.stringify(body).replace(/'/g, \"''\")\n  }\n}];"
      },
      "id": "fn-parse",
      "name": "Parse Omise Event",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE payments SET status = CASE WHEN '{{ $json.status }}' = '' THEN status ELSE '{{ $json.status }}' END, paid_at = CASE WHEN '{{ $json.paid_at }}' = '' THEN paid_at ELSE '{{ $json.paid_at }}'::timestamptz END, raw_omise = '{{ $json.raw }}'::jsonb WHERE charge_id = '{{ $json.charge_id }}' RETURNING charge_id, status, paid_at;"
      },
      "id": "pg-update",
      "name": "PG: Update Payment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [540, 300],
      "credentials": { "postgres": { "id": "REPLACE_PG_CRED_ID", "name": "Postgres" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      },
      "id": "respond",
      "name": "Ack to Omise",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook (Omise)": { "main": [[ { "node": "Parse Omise Event", "type": "main", "index": 0 } ]] },
    "Parse Omise Event": { "main": [[ { "node": "PG: Update Payment", "type": "main", "index": 0 } ]] },
    "PG: Update Payment": { "main": [[ { "node": "Ack to Omise", "type": "main", "index": 0 } ]] }
  },
  "settings": {},
  "active": false,
  "tags": ["payment", "omise", "promptpay", "callback"]
}
