spare_master_api.json
{
  "name": "Spare Master Data API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spare-master-api",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "sm-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 400],
      "webhookId": "spare-master-api-webhook"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            { "value2": "init_db", "output": 0 },
            { "value2": "get_product_groups", "output": 1 },
            { "value2": "create_product_group", "output": 2 },
            { "value2": "update_product_group", "output": 3 }
          ]
        }
      },
      "id": "sm-0002-0002-0002-000000000002",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [480, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS product_groups (id SERIAL PRIMARY KEY, group_code VARCHAR(20) UNIQUE NOT NULL, group_name VARCHAR(200) NOT NULL, description VARCHAR(500), status VARCHAR(20) DEFAULT 'active', created_by VARCHAR(100), updated_by VARCHAR(100), created_at TIMESTAMP DEFAULT NOW(), updated_at TIMESTAMP);\nCREATE INDEX IF NOT EXISTS idx_product_groups_code ON product_groups(group_code);\nCREATE INDEX IF NOT EXISTS idx_product_groups_status ON product_groups(status);",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "sm-0003-0003-0003-000000000003",
      "name": "Init DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [720, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"สร้างตารางฐานข้อมูลสำเร็จ\" }",
        "options": {}
      },
      "id": "sm-0004-0004-0004-000000000004",
      "name": "Respond Init",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, group_code, group_name, description, status, created_at, updated_at FROM product_groups ORDER BY group_code",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "sm-0005-0005-0005-000000000005",
      "name": "Postgres Get Groups",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn rows.map(r => ({ json: r }));"
      },
      "id": "sm-0006-0006-0006-000000000006",
      "name": "Code Groups List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "sm-0007-0007-0007-000000000007",
      "name": "Respond Get Groups",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const b = $('Webhook').item.json.body;\nconst code = (b.group_code || '').replace(/'/g, \"''\");\nconst name = (b.group_name || '').replace(/'/g, \"''\");\nconst desc = (b.description || '').replace(/'/g, \"''\");\nconst status = b.status || 'active';\nconst created_by = (b.created_by || '').replace(/'/g, \"''\");\n\nreturn [{ json: { query: `INSERT INTO product_groups (group_code, group_name, description, status, created_by) VALUES ('${code}', '${name}', '${desc}', '${status}', '${created_by}') ON CONFLICT (group_code) DO NOTHING RETURNING *` } }];"
      },
      "id": "sm-0008-0008-0008-000000000008",
      "name": "Code Prepare Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "sm-0009-0009-0009-000000000009",
      "name": "Postgres Create Group",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [960, 500]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nif (!rows || rows.length === 0) {\n  return [{ json: { error: 'รหัสกลุ่มสินค้าซ้ำในระบบ' } }];\n}\nreturn [{ json: { success: true, message: 'เพิ่มกลุ่มสินค้าสำเร็จ', data: rows[0] } }];"
      },
      "id": "sm-0010-0010-0010-000000000010",
      "name": "Code Create Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "sm-0011-0011-0011-000000000011",
      "name": "Respond Create",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 500]
    },
    {
      "parameters": {
        "jsCode": "const b = $('Webhook').item.json.body;\nconst id = Number(b.id);\nconst code = (b.group_code || '').replace(/'/g, \"''\");\nconst name = (b.group_name || '').replace(/'/g, \"''\");\nconst desc = (b.description || '').replace(/'/g, \"''\");\nconst status = b.status || 'active';\nconst updated_by = (b.updated_by || '').replace(/'/g, \"''\");\n\nreturn [{ json: { query: `UPDATE product_groups SET group_code='${code}', group_name='${name}', description='${desc}', status='${status}', updated_by='${updated_by}', updated_at=NOW() WHERE id=${id} RETURNING *` } }];"
      },
      "id": "sm-0012-0012-0012-000000000012",
      "name": "Code Prepare Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 700]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "id": "sm-0013-0013-0013-000000000013",
      "name": "Postgres Update Group",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [960, 700]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nif (!rows || rows.length === 0) {\n  return [{ json: { error: 'ไม่พบกลุ่มสินค้าที่ต้องการแก้ไข' } }];\n}\nreturn [{ json: { success: true, message: 'แก้ไขกลุ่มสินค้าสำเร็จ', data: rows[0] } }];"
      },
      "id": "sm-0014-0014-0014-000000000014",
      "name": "Code Update Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "sm-0015-0015-0015-000000000015",
      "name": "Respond Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 700]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Switch", "type": "main", "index": 0 }]
      ]
    },
    "Switch": {
      "main": [
        [{ "node": "Init DB", "type": "main", "index": 0 }],
        [{ "node": "Postgres Get Groups", "type": "main", "index": 0 }],
        [{ "node": "Code Prepare Create", "type": "main", "index": 0 }],
        [{ "node": "Code Prepare Update", "type": "main", "index": 0 }]
      ]
    },
    "Init DB": {
      "main": [
        [{ "node": "Respond Init", "type": "main", "index": 0 }]
      ]
    },
    "Postgres Get Groups": {
      "main": [
        [{ "node": "Code Groups List", "type": "main", "index": 0 }]
      ]
    },
    "Code Groups List": {
      "main": [
        [{ "node": "Respond Get Groups", "type": "main", "index": 0 }]
      ]
    },
    "Code Prepare Create": {
      "main": [
        [{ "node": "Postgres Create Group", "type": "main", "index": 0 }]
      ]
    },
    "Postgres Create Group": {
      "main": [
        [{ "node": "Code Create Check", "type": "main", "index": 0 }]
      ]
    },
    "Code Create Check": {
      "main": [
        [{ "node": "Respond Create", "type": "main", "index": 0 }]
      ]
    },
    "Code Prepare Update": {
      "main": [
        [{ "node": "Postgres Update Group", "type": "main", "index": 0 }]
      ]
    },
    "Postgres Update Group": {
      "main": [
        [{ "node": "Code Update Check", "type": "main", "index": 0 }]
      ]
    },
    "Code Update Check": {
      "main": [
        [{ "node": "Respond Update", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
